.container__graphql {

}

.container__graphql .image {
    width: 10em;
    align-self: center;
}

.container__graphql-website iframe {
    width: 100%;
    min-height: 10em;
}

.container__graphql-vs-rest {
    flex: 1;
    justify-self: center;
    flex-direction: column;
    justify-content: space-around;
}

.container__graphql-vs-rest > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__graphql-vs-rest ul {
    padding-left: 2em;
}


.container__graphql-vs-rest .image {
    width: 3em;
    margin-bottom: 1em;
}


.container__graphql-vs-rest h1 {
    align-self: center;
    font-size: 2em;
    margin: 0;
}


.container__graphql-vs-rest ul {
    width: 100%;
}

.container__graphql-vs-rest * {
    flex: 1;
}

.container__graphql-schema iframe {
    flex: 1;
    height: 10em;
    width: 100%;
    border-radius: 12px;
}
.container__graphql-schema__code {
    flex: 1;
}

.container__graphql-resolvers {
}
